*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.vscode
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
bower_components
client/assets/dist
client/bower
config/config.json
.tmp
storage
docker-compose.prod.yml
docker-compose.test.yml
.db_cache
.vscode
client/dist
doc
